# 설치 방법

```bash
python3 -m venv --copies venv  

source venv/bin/activate

pip3 install git+http://galadriel02.korea.ncsoft.corp/crawler-dev/corpus.git@dev

`which jupyter` notebook --ip 0.0.0.0 --port=8888  --LabApp.token='' --LabApp.password='' 
```

## corpus 라이브러리를 찾을 수 없는 경우: jupyter lab 으로 실행하는 경우 

```python
import sys

pkg_info = !pip3 show corpus
pkg_info = {l.split(':')[0]: l.split(': ')[1]  for l in pkg_info}

sys.path.append(pkg_info['Location'])

print([pkg_info, sys.path])
```

In [1]:
import json
import pandas as pd
from corpus.datasets import DataSets

# archived corpus

In [2]:
ds = DataSets()

pd.DataFrame(ds.meta).T

,name,desc,category,local_path,remote_path,files
daum_movie_reviews,daum_movie_reviews,다음 영화 리뷰,daum_movie_reviews,movie_reviews,movie_reviews,"[{'name': 'daum.reviews.json.bz2'}, {'name': '..."
facebook-stock,facebook-stock,페이스북 주식 채널/그룹,facebook/stock,facebook,facebook,[{'name': 'stock.posts.json.bz2'}]
facebook,facebook,페이스북 그룹,facebook,facebook,facebook,"[{'name': 'facebook.posts.json.bz2'}, {'name':..."
kbsec,kbsec,KB리서치 보고서,stock/reports,kbsec,kbsec,"[{'name': 'kbsec.reports.json.bz2'}, {'name': ..."
naver_movie_reviews,naver_movie_reviews,네이버 영화 리뷰,naver_movie_reviews,movie_reviews,movie_reviews,"[{'name': 'naver.reviews.json.bz2'}, {'name': ..."
youtube_bns,youtube_bns,유튜브 댓글,youtube/games/bns,youtube,youtube,"[{'name': 'bns.replies.json.bz2'}, {'name': 'b..."
youtube_mtd,youtube_mtd,유튜브 댓글,youtube/mtd,youtube,youtube,"[{'name': 'mtd.replies.json.bz2'}, {'name': 'm..."
youtube_news,youtube_news,유튜브 댓글,youtube/news,youtube,youtube,"[{'name': 'news.replies.json.bz2'}, {'name': '..."

In [3]:
# files

print(json.dumps(ds.meta['naver_movie_reviews']['files'], indent=4))

[
    {
        "name": "naver.reviews.json.bz2"
    },
    {
        "name": "naver.movie_code.json.bz2"
    }
]

In [10]:
data = ds.load(name='naver_movie_reviews', filename='naver.reviews.json.bz2')
print(f'size: {len(data):,}')

size: 7,880,198

In [11]:
df = pd.DataFrame(data).fillna('')
df.head()

,rating,movie_code,dislike,date,text,like,username,title
0,1,193996,1,2020-06-11T00:29:00+09:00,미포린 이젠 막나가는구나,1,bai(bain****),108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...
1,1,193996,1,2020-06-11T00:29:00+09:00,미포린 이젠 막나가는구나,1,bai(bain****),108명의 여자와 섹스하는 방법 (108: REVENGE AND ADVENTURE ...
2,6,194004,0,2020-07-30T14:20:00+09:00,공감성 수치를 불러일으키는 16세의 기억들,0,민경(jenn****),16세의 사운드트랙 (Soundtrack to Sixteen)
3,9,194004,2,2020-07-05T16:00:00+09:00,독일식 영어에 때묻지않은 이팔청춘에 조으네,1,초전동삼촌(whit****),16세의 사운드트랙 (Soundtrack to Sixteen)
4,9,194004,2,2020-07-02T21:03:00+09:00,저격당했다 내 취향도 내 과거도난 왜 이렇게 이 영화가 사랑스럽지ㅠ?하나부터 열까지...,1,ㅇㅇ(toal****),16세의 사운드트랙 (Soundtrack to Sixteen)

# elasticsearch datasets

In [6]:
meta = ds.pull_elastic_meta()
pd.DataFrame(meta).T

,name,count,columns,location,local_path
crawler-bbs-game-bns-eng,crawler-bbs-game-bns-eng,18022,"{'articles': 'object', 'author': 'text', 'curl...",elasticsearch,elasticsearch
crawler-bbs-game-lineage-vi,crawler-bbs-game-lineage-vi,120663,"{'contents': 'text', 'curl_date': 'date', 'dat...",elasticsearch,elasticsearch
crawler-bbs-game-lineage2-eng,crawler-bbs-game-lineage2-eng,11016,"{'articles': 'object', 'author': 'text', 'cate...",elasticsearch,elasticsearch
crawler-bbs-game-lineagem-jap,crawler-bbs-game-lineagem-jap,23075,"{'author': 'text', 'content': 'text', 'curl_da...",elasticsearch,elasticsearch
crawler-bbs-inven,crawler-bbs-inven,7951,"{'@timestamp': 'date', 'article_id': 'text', '...",elasticsearch,elasticsearch
...,...,...,...,...,...
raw-zdnet-2021,raw-zdnet-2021,12,"{'@curl_date': 'date', 'category': 'keyword', ...",elasticsearch,elasticsearch
sample-dcinside-2021,sample-dcinside-2021,274968,"{'@curl_date': 'date', 'category': 'text', 'co...",elasticsearch,elasticsearch
temp_yhnews_tv_sports_2020,temp_yhnews_tv_sports_2020,867643,"{'CAP': 'text', 'CAT': 'text', 'CID': 'text', ...",elasticsearch,elasticsearch
test-economy-2021-02,test-economy-2021-02,62022,"{'@curl_date': 'date', '@timestamp': 'date', '...",elasticsearch,elasticsearch
yh_economy_search_test,yh_economy_search_test,67646,"{'contents': 'text', 'id': 'keyword', 'raw': '...",elasticsearch,elasticsearch

In [7]:
# columns

print(json.dumps(meta['crawler-naver-economy-2021']['columns'], indent=4))

{
    "@curl_date": "date",
    "@curl_list": "date",
    "@timestamp": "date",
    "category": "text",
    "content": "text",
    "contents": "text",
    "curl_date": "date",
    "date": "date",
    "document_id": "text",
    "html": "text",
    "html_content": "text",
    "image_list": "object",
    "paper": "text",
    "parser_version": "text",
    "parsing_error": "boolean",
    "raw": "text",
    "raw_html": "text",
    "raw_list": "text",
    "source": "text",
    "source_section": "text",
    "source_url": "text",
    "status": "text",
    "title": "text",
    "url": "text",
    "vod": "text"
}

In [8]:
# data loading

data = ds.load(
    meta=meta,
    name='crawler-naver-economy-2021', 
    source='title,date,category,content'.split(','), 
    use_cache=False,
)
print(f'size: {len(data):,}')

downloading: crawler-naver-economy-2021: 100%|██████████| 331687/331687 [06:02<00:00, 914.68it/s]

size: 331,687

In [9]:
df = pd.DataFrame(data)
df.head()

,_id,_index,category,content,date,title
0,022-0003552944,crawler-naver-economy-2021,경제/산업/재계,홀가 게어만(오른쪽) 포르쉐코리아 대표가 지난 15일 서울 중구 삼일로창고극장에서 ...,2021-02-17T03:41:04.349834+09:00,"포르쉐코리아, 사회공헌 캠페인 문화예술 분야 5억원 기부"
1,022-0003552939,crawler-naver-economy-2021,경제/산업/재계,한국철도(코레일)가 근로자 권익보호 강화를 위해 공공발주자 임금직접지급제와 근로자 ...,2021-02-17T03:41:04.350909+09:00,"한국철도, 근로자 권익보호 위해 임금직접지급제 확대"
2,022-0003552937,crawler-naver-economy-2021,경제/산업/재계,카카오는 재단 카카오임팩트가 올해 첫 프로젝트로 더 나은 세상을 만들기 위해 노력하...,2021-02-17T03:41:04.352573+09:00,"카카오, 사회혁신가 지원하는 ‘카카오임팩트 펠로우십’ 시즌1 시동"
3,421-0005169616,crawler-naver-economy-2021,경제/경제 일반,"文대통령 ""역대급 고용위기…특단 대책마련"" 지시\n정부 ""비상대응""…핵심은 이번에도...",2021-02-17T05:00:00+09:00,"실업 110만 '고용참사'에…대통령 이어 장관도 ""상황 엄중"""
4,421-0005169631,crawler-naver-economy-2021,경제/경제 일반,"홍남기 ""소상공인 정의, 매출 10억이하""…전체 338만명에 혜택\n10조원+α에 ...",2021-02-17T05:00:00+09:00,"""연매출 10억까지 지원"" 4차 재난금 편성 최대 15조원 이를듯"